@media (min-width: 768px) and (max-width: 991px) {
    .announcement__heading {
        text-align: left;
    }
}

.announcement__top-input-wrapper {
    position: absolute;
    top: 0;
    right: 15px;
}

@media (max-width: 767px) {
    .announcement__top-input-wrapper {
        display: none;
        position: static;
        top: unset;
        right: unset;
    }

    .announcement__top-input-wrapper.active {
        display: block;
        margin-top: 35px;
    }
}

@media (max-width: 767px) {
    .select-find.page {
        display: none;
        max-height: 0;
        overflow: hidden;
        transition: 0.2s;
    }

    .select-find.page.active {
        display: block;
        max-height: 800px;
        overflow: visible;
        margin-top: 35px;
    }
}

.announcement__top-buttons {
    display: none;
}

@media (max-width: 767px) {
    .announcement__top-buttons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0 15px;
    }
}

.announcement__top-show,
.announcement__top-loop,
.announcement__top-select {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-position: center;
}

.announcement__top-show {
    background-image: url(/images/announcement-find.svg?d055f623e82751ca695a978700f8f011);
    background-repeat: no-repeat;
}

.announcement__top-select {
    display: none;
    background-image: url(/images/announcement-close.svg?2e0c686ae35cbd207ac5fe5c5ae2c5bb);
    position: relative;
    background-repeat: no-repeat;
}

.announcement__top-select.active {
    display: block;
}

.announcement__top-loop {
    position: relative;
    background-image: url(/images/loop-orange.svg?4a1d49ef1c881a03945e366f95aae699);
    background-repeat: no-repeat;
}

.announcement__top-loop.active:before {
    content: "";
    position: absolute;
    background-image: url(/images/announcement-close.svg?2e0c686ae35cbd207ac5fe5c5ae2c5bb);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    right: -3px;
    left: unset;
    top: -7px;
}

.announcement__top-loop.hide {
    display: none;
}

.announcement__top-form {
    display: flex;
    position: relative;
}

.announcement__top-input {
    padding-right: 85px;
    margin-bottom: 0;
}

.announcement__top-submit {
    width: 82px;
    height: 55px;
    background-image: url(/images/loop.svg?5c5c271b89db5915f931058c0bb79369);
    background-repeat: no-repeat;
    background-color: #c4c4c4;
    border: 1px solid #c4c4c4;
    position: absolute;
    top: 0;
    right: 0;
    background-position: center;
    border-radius: 0 4px 4px 0;
    transition: 0.2s;
    cursor: pointer;
}

.announcement__top-submit:hover {
    background-color: #F2582F;
    border-color: #F2582F;
}

@media (max-width: 575px) {
    .announcement__top-submit {
        height: 52px;
    }
}

.announcement__found {
    text-align: left;
    margin-top: 70px;
}

@media (max-width: 767px) {
    .announcement__found {
        margin-top: 35px;
    }
}

.announcement__found-count {
    color: #F2582F;
}

.announcement__not-found img {
    max-width: 100%;
}

.announcement__item-wrapper {
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-bottom: 30px;
    transition: 0.2s;
    height: 388px;
    min-height: 378px;
    position: relative;
}
.announcement__item {
    transition: 0.2s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height:130%;
    background: white;
}

.announcement__item-wrapper:hover {
    overflow: visible;
    box-shadow: none;
    z-index: 2;
}
.announcement__item-wrapper:hover .announcement__item{
    box-shadow: 0px 6px 15px 10px rgba(0, 0, 0, 0.15);
}
.announcement__img {
    height: 250px;
    max-width: 100%;
}

.announcement__img img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.announcement__bottom-info {
    padding: 30px;
}

.announcement__name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
    color: #000;
}

@media (max-width: 575px) {
    .announcement__name {
        font-size: 22px;
    }
}

.announcement__description {
    font-size: 16px;
    padding: 15px;
    margin-bottom: 15px;
    position: absolute;

}

/*#data {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#data:hover {
    overflow: visible;
    !*white-space: normal;*!
    width: 90%;
    height: 30%;
    position: relative;
}*/

.announcement__city:before {
    content: "";
    position: absolute;
    height: 23px;
    width: 23px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(/images/map.svg?4bb8feeffa69da0b156c25fcb1188133);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (max-width: 575px) {
    .announcement__city:before {
        height: 20px;
        width: 20px;
        background-size: contain;
    }
}

.news__links {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

@media (max-width: 575px) {
    .news__links {
        flex-direction: column-reverse;
    }
}

announcement_city
