.form-group.with-label {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.form-group.with-label .modalWin__feeadback-input {
    margin: 0 10px;
    flex: 1;
}

.form-group.with-label .selectric-wrapper {
    flex: 1 1 42px;
    margin: 0 10px;
}

.form-group.with-label .selectric-wrapper .selectric {
    margin-bottom: 0;
}

.form-group.with-label label {
    flex: 1;
}

.add-file__img {
    width: 25px;
    height: 25px;
    background-image: url(/img/file.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.add-file {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 25px;
}

.add-file input {
    opacity: 0;
    display: none;
}

.add-file.add-file__big {
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    border: 1px dashed #C4C4C4;
    transition: 0.2s;
    height: 360px;
}

.add-file.add-file__big:hover {
    border: 1px solid #C4C4C4;
}

.add-file.add-file__big .add-file__img {
    width: 66px;
    height: 66px;
    margin-right: 0;
}

.add-file:hover .add-file__title {
    border-bottom: 1px solid #C4C4C4;
}

.add-file__title {
    font-family: PT Serif;
    font-size: 18px;
    line-height: 159%;
    border-bottom: 1px dashed #C4C4C4;
}

.add-file__img {
    width: 25px;
    height: 25px;
    background-image: url(/img/file.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.btn-add-item {
    margin-bottom: 25px;
}

.modalWin__feeadback-input.error {
    border-color: red;
}

#messageBox {
    color: red;
}

.my_account-avatar {
    width: 65%;
    margin-top: -35px;
}

.user-detail__top-wrapper {
    padding: 165px 0 100px;
    margin-top: -74px;
    /*-59px*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.user-detail__top-heading {
    text-align: left;
    margin-bottom: 70px;
}

.user-detail__top-subheading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
}

/*sprite with stars*/
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
}

#reviewStars-input {

    /*fix floating problems*/
    overflow: hidden;
    *zoom: 1;
    /*end of fix floating problems*/

    position: relative;
    float: left;
}

#reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;

    width: 43px;
    height: 40px;

    position: absolute;
    top: 0;
    z-index: 0;
}

#reviewStars-input input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input label {
    background-position: 0 0;
    height: 40px;
    width: 43px;
    float: right;
    cursor: pointer;
    margin-right: 10px;

    position: relative;
    z-index: 1;
    margin-top: 10px;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input #star-0 {
    left: 0px;
}

#reviewStars-input #star-1 {
    left: 53px;
}

#reviewStars-input #star-2 {
    left: 106px;
}

#reviewStars-input #star-3 {
    left: 159px;
}

#reviewStars-input #star-4 {
    left: 212px;
}

#reviewStars-input #star-5 {
    left: 265px;
}

.allign-submit {
    margin: 10px;
}

.comments {
    margin-top: 10px;
}

.comment_area {
    width: 800px;
}

.comment_pading {
    padding-left: 0px !important;
}

